<h1>Salary Calculator</h1>
<hr>
<section>
    <div class="field">
        <label for="">Basic :</label>
        <input type="number" (input)="model.basic = $event.target.valueAsNumber">
    </div>
    <div class="field">
        <label for="">HRA :</label>
        <input type="number" (input)="model.hra = $event.target.valueAsNumber">
    </div>
    <div class="field">
        <label for="">DA :</label>
        <input type="number" (input)="model.da = $event.target.valueAsNumber">
    </div>
    <div class="field">
        <label for="">Tax :</label>
        <input type="range" id="rangeTax" min="0" max="30" value="0" (input)="model.tax = $event.target.valueAsNumber">
    </div>
    <div class="field">
        <input type="button" value="Calculate" (click)="model.calculate()">
    </div>
    <div class="field">
        <table>
            <tbody>
                <tr>
                    <td>{{model.basic}}</td>
                    <td>{{model.hra}}</td>
                    <td>{{model.da}}</td>
                    <td>{{model.tax}}</td>
                    <td *ngIf="model.salary !== 0"
                        [ngClass]="{ goodSalary : model.salary >= 10000, poorSalary : model.salary < 10000 }">
                        {{model.salary}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>